<p-toast position="center" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="p-grid ui-fluid center">
                <button type="button" class="btn btn-danger" (click)="onConfirm()">Yes</button>
                <button type="button" class="btn btn-light" (click)="onReject()">No</button>
        </div>
    </ng-template>
</p-toast>
