<div class="content-section implementation container-fluid" id="conteudo">
	<div class="row">
		<div class="col-md-5">
			<app-bigger-smaller (change)="order($event.target.value)"></app-bigger-smaller>
		</div>
		<div class="col-md-5"></div>
		<div class="col-md-2">
			<button type="button" class="btn btn-light" id="butListar" (click)="listar()"><span id="title">
					<i class="fa fa-list" aria-hidden="true"></i> | <i class="fa fa-columns" aria-hidden="true"></i>
				</span>
			</button>
		</div>
	</div>

	<div class="card generalCard" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
		(scrolled)="onScroll()">
		<div [ngSwitch]="list" class="row">

			<div *ngFor="let product of produtos" class="col-md-12">
				<div *ngSwitchCase="true">
					<div class="product-list-item">
						<a [routerLink]="[ '/showcase/produto-detalhe', product.id ]">
							<img [src]="product.img" [alt]="product.title" />
						</a>
						<div class="product-list-detail">
							<div class="product-name" id="title">{{ product.title }}</div>
							<div class="product-description">{{ product.shortDescription }}</div>
						</div>
						<div class="product-list-action">
							<span class="product-price">${{ product.price }}</span>
						</div>
					</div>
				</div>
			</div>

			<div *ngFor="let product of produtos" class="col-md-3">
				<div *ngSwitchCase="false">
					<div class="product-grid-item card">
						<div class="product-grid-item-top">
							<div>
								<i class="pi pi-tag product-category-icon"></i>
								<span class="product-category">{{ product.category }}</span>
							</div>
						</div>
						<div class="product-grid-item-content">
							<a [routerLink]="[ '/showcase/produto-detalhe', product.id ]">
								<img [src]="product.img" [alt]="product.title" />
							</a>
							<div class="product-name" id="title">{{ product.title.toUpperCase() }}</div>
							<div class="product-description">{{ product.description }}</div>
						</div>
						<div class="product-grid-item-bottom" [ngSwitch]="product.sale">
							<ng-container *ngSwitchCase="true">
								<span class="product-price">
									De: <strike>{{ product.price | currency:'BRL':true:'1.2-2':'pt' }}</strike>
									Por: {{ product.salePrice | currency:'BRL':true:'1.2-2':'pt' }}
								</span>
							</ng-container>
							<ng-container *ngSwitchCase="false">
								<span class="product-price">
									{{ product.price | currency:'BRL':true:'1.2-2':'pt' }}
								</span>
							</ng-container>
						</div>
						<button (click)="cars.setCar(product)" type="button" class="btn btn-primary">
							<img id="cesta" class="text-center" src="assets/img/shopping_basket-24px.svg"
								alt="Cesta de compras">
							Comprar
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>