<h3 class="text-center" id="title">Meu carrinho</h3>

<div class="meu-carrinho row">
    <div class="tabela-checkout col-md-8">
        <div class="row table-head">
            <div class="col-md-2">
                <span>Produto</span>
            </div>
            <div class="col-md-6">
                <span>Descrição</span>
            </div>
            <div class="col-md-2">
                <span>Quant,</span>
            </div>
            <div class="col-md-2">
                <span>Preço</span>
            </div>
        </div>
        <div class="row table-body">
            <div class="col-md-2">
                <span>iPhone 11</span>
            </div>
            <div class="col-md-6">
                <span>iPhone 11 Apple 128GB Preto 4G Tela 6,1” Retina - Câm. Dupla 12MP Selfie 12MP iOS 13 Proc.
                    A13</span>
            </div>
            <div class="col-md-2">
                <span>2</span>
            </div>
            <div class="col-md-2">
                <span>R$5.400,00</span>
            </div>
        </div>
    </div>
    <div class="entrega col-md-4">
        <h5 id="title" class="text-center">Resumo do pedido</h5>
        <div class="resumo row">
            <div class="col-md-4">1 Produto</div>
            <div class="col-md-4">Em estoque</div>
            <div class="col-md-4">R$5.400,00</div>
        </div>
        <div class="form-group row">
            <label for="frete" class="col-md-6 col-form-label">Calcule o frete:</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="frete" placeholder="00000-000">
            </div>
        </div>
        <p id="title">Frete: <span class="text-success">Grátis</span></p>
        <button type="submit" class="btn btn-primary">Calcular</button>
    </div>
</div>