input {
    max-width: 120px;
}

.table-head {
    font-weight: bold;
    color: darkslateblue;
}

.table-head {
    font-size: 115%;
}

#title {
    font-weight: 400;
}

.entrega{
    margin-top: 3rem;
}

.resumo {
    padding: 1rem;
    color: white !important;
    background-color: rgba(71, 61, 139, 0.863);
}

.resu {
    color: white !important;
    font-size: bold;
}

#quant {
    max-width: 40px;
}

img {
    height: 2rem;
    width: auto;
}

th, td {
    color: white;
}