<h3 class="text-center" id="title">Meu carrinho</h3>
<ng-container [ngSwitch]="cars.TotalCart() > 0">
    
    <div *ngSwitchCase="true" class="meu-carrinho row">
        <div class="tabela-checkout col-md-8">
            <div class="row table-head">
                <div class="col-md-2">
                    <span>Produto</span>
                </div>
                <div class="col-md-6">
                    <span>Descrição</span>
                </div>
                <div class="col-md-2">
                    <span>Quant</span>
                </div>
                <div class="col-md-2">
                    <span>Preço</span>
                </div>
            </div>
            <div *ngFor="let selected of cars.returnCar(); index as i" class="row table-body">
                <div class="col-md-2">
                    <span>{{selected.title}}</span>
                </div>
                <div class="col-md-6">
                    <span>{{selected.shortDescription}}</span>
                </div>
                <div class="col-md-2">
                    <span><input #num type="number" value="{{selected.num}}" (blur)="cars.quantiy(selected,num.value)"></span>
                </div>
                <div class="col-md-2">
                    <span>{{ selected.price  * selected.num | currency:'BRL':true:'1.2-2':'pt' }}</span>
                </div>
            </div>
        </div>
        <div class="entrega col-md-4">
            <h5 id="title" class="text-center">Resumo do pedido</h5>
            <div class="resumo row">
                <div class="col-md-4">{{cars.TotalCart()}} Produto</div>
                <div class="col-md-4">Em estoque</div>
                <div class="col-md-4">{{cars.GetTotal() | currency:'BRL':true:'1.2-2':'pt' }}</div>
            </div>
            <div class="form-group row">
                <label for="frete" class="col-md-6 col-form-label">Calcule o frete:</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="frete" placeholder="00000-000">
                </div>
            </div>
            <p id="title">Frete: <span class="text-success">Grátis</span></p>
            <button type="submit" class="btn btn-primary">Calcular</button>
        </div>
    </div>
    <div *ngSwitchCase="false">
        <h1>Nenum produto encontrado</h1>
    </div>
</ng-container>




