

<div class="container">
    <div class="card-deck mb-3 text-center">
        <ng-container *ngFor="let produto of produtos">
            <app-lista-produtos [produto]="produto"></app-lista-produtos>
        </ng-container>
    </div>
</div>

<app-car></app-car>

<p-carousel [value]="produtos" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <p-header>
        <h3>Circular, AutoPlay, 3 Items per Page and Scroll by 1</h3>
    </p-header>
    <ng-template let-car pTemplate="item">
        <div class="car-details">
            <div class="p-grid p-nogutter">
                <div class="p-col-12">
                    <img src="https://baltademos.blob.core.windows.net/eshop/smartphone-apple-iphone-xr-128gb.jpg" />
                </div>
                <div class="p-col-12 car-data">
                    <div class="car-title">{{produtos.title}}</div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>