<div class="carrinho">
  <h4 class="text-center" id="title"><a [routerLink]="['/checkout']"><span class="fa fa-shopping-cart"></span> Carrinho</a></h4>

  <div>
    <div class="order-item" *ngFor="let selected of cars.returnCar(); index as i">
      <span id="title"><img src="data:image/jpeg;base64,{{ selected.img }}" alt="{{ selected.title }}"> {{ selected.title }}</span> <span id="price">
        {{ selected.price  * selected.num | currency:'BRL':true:'1.2-2':'pt' }} </span>
      <span class="fa fa-times text-danger remov" (click)="cars.remove(selected.id)"></span>
      <p><small>Quantidade: {{ selected.num }}</small></p>
    </div>
    <div class="order-total">
      <p class="order-price"><span id="title">Valor total:</span>  {{ cars.GetTotal() | currency:'BRL':true:'1.2-2':'pt' }}</p>
    </div>
  </div>
</div>