.carrinho {
  width: 200px;
}

.order-item {
  margin-bottom: 2px !important;
  padding: 2px;
  border-bottom: 1px solid darkslateblue;
}

#title {
  color: darkslateblue !important;
  font-weight: bold;
}

.remov {
  text-align: end;
}