<!-- <div class="footer">
  

</div> -->
<div class="carrinho">
  <h4>Carrinho</h4>

  <div>

    <p class="order-title">Itens do pedido</p>
    <div class="order-item" *ngFor="let selected of cars.returnCar(); index as i">
      {{ selected.name }} R${{ selected.price * selected.num }}
      <br>
      <input #number type="number" id="quantity" name="quantity" min="0" max="5"
        (click)="cars.quantiy(selected,number.value)" value="{{selected.num}}">
      <p (click)="cars.remove(selected.id)">Remover item</p>
    </div>


    <div class="order-total">
      <p class="order-price">Valor total</p>

      <p>R${{ cars.GetTotal()  }}</p>
    </div>

  </div>
</div>