<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th >Nome</th>
        <th >Sobrenome</th>
        <th >Email</th>
        <th>DataNascimento</th>
        <th>Escolaridade</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of usuarios">
      <tr>
        <th>{{item.id}}</th>
        <td>{{item.nome}}</td>
        <td>{{item.sobrenome}}</td>
        <td>{{item.email}}</td>
        <td>{{item.dataNascimento | date:'dd/MM/yyyy'}}</td>
        <td>{{item.idEscolaridade}}</td>
      </tr>
    </tbody>
  </table>
