<!-- 

<div class="container main-container">
    <hr>
    <div class="row">
        <div class="col-md-10">
            <form enctype="multipart/form-data" (ngSubmit)="adicionar()" [formGroup]="Form">

                <div class="alert alert-danger" *ngIf="errors.length > 0">
                    <h3 id="msgRetorno">Opa! Algo deu errado:</h3>
                    <ul>
                        <li *ngFor="let error of errors">{{ error }}</li>
                    </ul>
                </div>
                 -->


                <!-- <div *ngIf="config.data.id" class="form-group">
                    <label class="control-label">ID</label>
                    <input class="form-control" id="id" type="text" value="{{ config.data.id }}" disabled />
                </div> -->

                <!-- <ng-component *ngFor="let item of formulario">

                    <div class="form-group">
                        <label class="control-label">Descrição</label>
                        <div>
                            
                            <input maxlength="30" class="form-control" id="{{formulario.nome}}"
                                placeholder="{{formulario.titulo}} (requerido)" formControlName="{{formulario.nome}}"
                                [ngClass]="{'is-invalid': formulario.displayMessage}">
                            <span class="text-danger" *ngIf="formulario.displayMessage">
                                <p [innerHTML]="formulario.displayMessage"></p>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="sale" formControlName="sale" name="sale"
                                    value="true"> Ativo
                            </label>
                        </div>
                    </div>

                </ng-component>
 -->





                <!-- <div class="form-group">
                    <label class="control-label">imagem do Produto</label>
                    <div class="custom-file">
                        <input type="file" accept="image/jpeg,image/png" class="custom-file-input" id="img"
                            formControlName="img" (change)="fileChangeEvent($event.target.files)"
                            [ngClass]="{'is-invalid': displayMessage.img }">
                        <label data-browse="Procurar" style="width: 400px" class="custom-file-label"></label>
                        <span class="text-danger" *ngIf="displayMessage.img">
                            <p [innerHTML]="displayMessage.img"></p>
                        </span>
                    </div>
                </div> -->

                <!-- <div class="form-group">
                    <input type="submit" id="cadastroProduto" [disabled]="!Form.valid" value="Cadastrar"
                        class="btn btn-primary">&nbsp;
                </div> 
            </form> 
        </div>
    </div>
</div> -->