<h4 class="text-center">Login</h4>

<form [formGroup]="FromUsuario" class="form mt-4" (submit)="editrUsuario()">

    <div class="form-group">
        <input 
            formControlName="nome" 
            class="form-control" 
            placeholder="Nome">
        <ap-vmessage 
            *ngIf="FromUsuario.get('nome').errors?.required"
            text="Nome Obrigatorio">
        </ap-vmessage>        
    </div>
    <div class="form-group">
        <input 
            formControlName="sobrenome" 
            class="form-control" 
            placeholder="Sobrenome">
        <ap-vmessage 
            *ngIf="FromUsuario.get('sobrenome').errors?.required"
            text="Sobrenome Obrigatorio">
        </ap-vmessage>        
    </div>
    <div class="form-group">
        <input  
            class="form-control" 
            placeholder="Email"
            formControlName="email">
        <ap-vmessage 
            *ngIf="FromUsuario.get('email').errors?.email"
            text="Email invalido">
        </ap-vmessage>        
    </div>
    <div class="form-group">
        <input 
            formControlName="dataNascimento" 
            class="form-control" 
            placeholder="Data Nascimento"
            type="date">
        <ap-vmessage 
            *ngIf="FromUsuario.get('dataNascimento').errors?.dataMaior"
            text="Data deve ser menor que atual">
        </ap-vmessage>        
    </div>
    <div class="form-group">
        <app-dropdown-escolaridade [selected]='selected' (change)="changeEscoridade($event.target.value)"></app-dropdown-escolaridade>     
    </div>
    <button 
        [disabled]="FromUsuario.invalid" type="submit" class="btn btn-primary btn-block">
        Salvar
    </button>

</form>