nav {
  background-color: darkslateblue !important;
}

nav a{
  color: white !important;
}

nav a:hover {
  color: rgb(193, 184, 252) !important;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#car:hover .cart {
  display: inherit;
}

.cart {
  display: none;
}

