<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Início</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/produto']">Cadastro de produtos<span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/showcase']">Produtos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <li class="dropdown-submenu">
                <a id="title" *ngFor="let item of Category" tabindex="-1" class="dropdown-item"
                  routerLinkActive="active" [routerLink]="['/showcase',{categoria:item.description},'']"
                  (mouseover)="buscarMarcas(item.id)">{{ item.description }}</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item">
                    <a *ngFor="let item of subCategoria" class="dropdown-item"
                      [routerLink]="['/showcase',{subCategoria:item.nome},'']" id="title" tabindex="-1" href="#">
                      {{ item.nome }}
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <form class="index-search-form">
        <p-autoComplete #prd [(ngModel)]="prod" [suggestions]="results" (completeMethod)="search($event)" field=""
          [size]="30" placeholder="Countries" [minLength]="2"></p-autoComplete>
        <button name="submit" class="btn" type="submit" (click)="buscar(prd.value,prod)"><i class="fa fa-search"
            aria-hidden="true"></i></button>
      </form>   
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link fa fa-shopping-cart" (mouseover)="op.show($event)" [routerLink]="['/checkout']">
              {{cars.TotalCart()}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<p-overlayPanel #op [dismissable]="true">
  <app-car></app-car>
</p-overlayPanel>